:root{
    --board-container-width: 500px
}

body{
    background-color: gray;
}

.boardContainer{
    border: 5px solid #000;
    display: grid;
    width: var(--board-container-width);
    height: var(--board-container-width);
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: 50px auto;
}
.cell.one{
    background-color: #fff;
}
.cell{
    background-color: #c29941;
    border: 1px solid #000;
    font-size: clamp(30px,calc(var(--board-container-width)/3*0.7) , var(--board-container-width));
    text-align: center;
    
}

h1, h2{
    font-size:40px;
    margin: 20px auto   ;
    margin-left: 200px
}

.display-container{
    display: flex;
    justify-content: space-around;
    border: 1px solid #000;
}

.button-displays{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

button{
    font-size: larger;
    background-color: orangered;
    border-radius: 10px;
    padding: 6px;
    box-shadow: 1px 3px ;
}

.player-select button, button[type='submit']{
    font-size: larger;
    background-color: rgb(49, 159, 67);
    border-radius: 10px;
    padding: 6px;
    box-shadow: 1px 3px ;
    margin: 10px;
}

h3{
    font-size: larger;
    margin: 10px;
    font-weight: 800;
}
dialog{
    background-color: #8e8c83;
}

form{
    display:flex;
    flex-direction: column;
    gap: 6px;
}

form *{
    margin: 3px;
}

.player-text{
    font-size:50px;
    font-weight: 600;
}

.text-displays{
    display:flex;
    flex-direction: column;
}