:root{
    --board-container-width: 500px
}

body{
    background-color: gray;
}

.boardContainer{
    border: 5px solid #000;
    display: grid;
    width: var(--board-container-width);
    height: var(--board-container-width);
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    margin: 50px auto
}

.cell{
    background-color: #c29941;
    border: 1px solid #000;
}